<div class="message-title">
  <span class="email-meter message-count"><%= message_thread.messages.count %></span>
  <p>Trip from <%= @ride.source_location.get_route_name %> to <%= @ride.destination_location.get_route_name %></p>
</div>