<div>
  <h2>Watch How It Works</h2>

  <div class="video">
    <!-- <a href="http://playit.pk/watch?v=CTn-ev4fjsM" class="play-button" data-title="How La Mule works">aaa
</a> -->
    <iframe src="http://playit.pk/embed?v=PGacmVzxlRI" scrolling="NO" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>