<br/>
<div class="row">
  <div class="col-sm-8">
    <fieldset class="main-block ride-block clearfix">
      <div class="header-main-block clearfix">
        <h2 class="pull-left">What happens now?</h2>
      </div>
      <div class="col-md-4">
        <fieldset class="main-block ride-block clearfix">
          <div class="header-main-block clearfix">
            <h2 class="pull-left">1</h2>
          </div>
          <p>Passengers will contact you directly</p>
        </fieldset>
      </div>
      <div class="col-md-4">
        <fieldset class="main-block ride-block clearfix">
          <div class="header-main-block clearfix">
            <h2 class="pull-left">2</h2>
          </div>
          <p>You confirm the trip with them through private messages or by phone</p>
        </fieldset>
      </div>
      <div class="col-md-4">
        <fieldset class="main-block ride-block clearfix">
          <div class="header-main-block clearfix">
            <h2 class="pull-left">3</h2>
          </div>
          <p>You travel together and passengers pay you during the trip</p>
        </fieldset>
      </div>
    </fieldset>
  </div>  
</div>
